
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    height: 100vh;
}
.areaA{
    background: linear-gradient(to bottom, #ff6600 0%, #ff9900 100%);
    padding: 61px 0;
    height: 45vh;
}
.areaB{
    background: linear-gradient(to bottom, #336699 0%, #0066cc 100%);
    padding: 61px 0;
    height: 45vh;
}
.areaC{
    background: linear-gradient(to bottom, #cc0000 0%, #ff0000 100%);
    padding: 61px 0;
    height: 45vh;
}
.areaD{
    background: linear-gradient(to bottom, #9900cc 0%, #cc00ff 100%);
    padding: 61px 0;
    height: 45.5vh;
}
.areaE{
    background: linear-gradient(to bottom, #339933 0%, #33cc33 100%);
    padding: 61px 0;
    height: 45.5vh;
}
.areaF{
    background: linear-gradient(to bottom, #009999 0%, #669999 100%);
    padding: 61px 0;
    height: 45.5vh;
}
.areaLS{
    background: linear-gradient(to bottom, #336699 0%, #0066cc 100%);
    padding: 61px 0;
    height: 45vh;
}
.areaA1, .areaA10, .areaA17, .areaA26, .areaA33{
    background-color: rgba(37, 84, 212, 0.7);
    padding: 81px 0;
}
.areaA2, .areaA11, .areaA18, .areaA27, .areaA34{
    background-color: rgba(255, 32, 32, 0.753);
    padding: 81px 0;
}
.areaA3, .areaA16, .areaA19, .areaA32, .areaA35{
    background-color: rgba(116, 116, 116, 0.7);
    padding: 81px 0;
}
.areaA4, .areaA9, .areaA20, .areaA25, .areaA36{
    background-color: rgb(86, 170, 53);
    padding: 81px 0;
}
.areaA5, .areaA12, .areaA21, .areaA28, .areaA37{
    background-color: rgba(217, 221, 1, 0.959);
    padding: 81px 0;
}
.areaA6, .areaA15, .areaA22, .areaA31, .areaA38{
    background-color: rgba(202, 104, 186, 0.856);
    padding: 81px 0;
}
.areaA7, .areaA13, .areaA23, .areaA29{
    background-color: rgb(221, 139, 32);
    padding: 81px 0;
}
.areaA8, .areaA14, .areaA24, .areaA30{
    background-color: rgba(84, 179, 166, 0.952);
    padding: 81px 0;
}
.header{
    height: 9.5vh;
}
.header h3{
    font-weight: bold;
}
@media screen and (max-width: 800px){
    .areaLS img{
        padding-top: 40px;
        height: 110px;
        width: 430px;
    }
}
